.sectionSearchCocktails {
  width: 100%;
  margin-bottom: 25px;
}
.colorTitle{
  color: #08ad9d;
  padding: 20px 0px 25px 15px;
}
.colorInput{
  border-color: black;
  padding-left: 30px;
}
.buttonStyleSearch{
  background-color: #08ad9d;
  color: white;
  padding-right: 10px;

}

.buttonRestStyle{
  background-color: #08ad9d;
  color: white;
  padding-right: 30px;
}