<section class="favoriteSection js_favoriteSection">
    <h2>Cócteles Favoritos</h2>

    <ul class="favoriteSection__ul js_ulFavorite">
        <li>
            <article class="favoriteSection__ul__article">
                <img src="https://www.thecocktaildb.com/images/media/drink/2bcase1504889637.jpg"
                    class="favoriteSection__ul__cocktailThumbnail">
                <h2>Whitecap Margarita</h2>
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </article>
        </li>
        <li>
            <article class="favoriteSection__ul__article">
                <img src="https://www.thecocktaildb.com/images/media/drink/2bcase1504889637.jpg"
                    class="favoriteSection__ul__cocktailThumbnail">
                <h2>Whitecap Margarita</h2>
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </article>
        </li>
    </ul>
</section>