<section class="js_listSection">
    <h2>lista</h2>
    <ul>
        <li>
            <article>
                <span>imagen</span>
                <h2>Margrita</h2>
            </article>
        </li>
        <li>
            <article>
                <span>imagen</span>
                <h2>Blue Margarita</h2>
            </article>
        </li>
        <li>
            <article>
                <span>imagen</span>
                <h2>Tommy's Margarita</h2>
            </article>
        </li>
    </ul>
</section>