@import 'core/variables';
@import 'core/reset';
@import 'layout/searchCocktails';
@import 'layout/favoriteCocktails';
@import 'layout/listCocktails';

.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}